body {
  margin: 0; 
  background: linear-gradient(135deg, #0f2027, #203a43, #4fc3f7, #203a43, #0f2027); 
  background-size: 800% 800%; 
  animation: gradientLoop 30s ease-in-out infinite;  
  color: white; 
  font-family: 'Poppins', sans-serif;

}

@keyframes gradientLoop {
  0% {background-position: 0% 50%; }
  50% {background-position: 100% 50%;} 
  100% {background-position: 0% 50%;} 
}

iframe {
  margin-top: 0px; 
  margin-bottom: 0px; 
  width: 100%; 
}
